:root {
  /* Paleta de colores */
  --color-white: #ffffff;
  --color-dark: #00171f;
  --color-primary: #003459;
  --color-secondary: #007ea7;
  --color-accent: #00a8e8;
}

/*Header*/
.custom-header {
  background: linear-gradient(135deg, var(--color-accent), var(--color-secondary));
}
  
  
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-brand {
    color: var(--color-white) !important;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .navbar-brand:hover {
    color: var(--color-white) !important;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu {
    background-color: var(--color-white);
  }
  
  .dropdown-item {
    color: var(--color-accent);
  }
  
  .dropdown-item:hover {
    background-color: var(--color-white);
  }


/* Sidebar */

.main-sidebar {
  background: linear-gradient(135deg, var(--color-secondary), var(--color-secondary));
  }
  
  .nav-sidebar .nav-link {
    color: var(--color-white);
  }
  
  .nav-sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .brand-link {
    color: var(--color-white);
  }
  
  .brand-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .nav-item .nav-treeview {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .nav-item.menu-open > .nav-treeview {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
  }

  .nav-treeview .nav-item {
    margin-bottom: 0.5rem; /* Espaciado entre las opciones del submenú */
  }


/* Content */
.content-wrapper{
  background-color: var(--color-white);
}

.content {
  flex: 1; 
  padding: 20px; 
  background-color: var(--color-white);
  border-radius: 5px; 
  overflow: auto;
}


/* Footer */
.main-footer {
  background: linear-gradient(135deg, var(--color-accent), var(--color-secondary));
  color: var(--color-white);
}


/* Login */
/* Estilos para el wrapper principal */
.wrapper.login-page-wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 0 !important; /* Importante para anular cualquier margin del AdminLTE */
  width: 100% !important;
}

/* Estilos para el header */
.login-page-wrapper .main-header {
  background: linear-gradient(135deg, var(--color-accent), var(--color-secondary));
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100% !important;
  margin-left: 0 !important;
  z-index: 1000;
}

/* Estilos para el contenido principal */
.login-page-wrapper .hold-transition.login-page {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100% !important;
  margin-left: 0 !important;
}

/* Estilos para el footer */
.login-page-wrapper .main-footer {
  background: linear-gradient(135deg, var(--color-accent), var(--color-secondary));
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100% !important;
  margin-left: 0 !important;
  padding: 1rem;
  z-index: 1000;
}
.hold-transition.login-page {
    position: relative;
    height: 100vh;
}

.login-box {
    z-index: 2;
    position: relative;
    margin: auto;
    max-width: 400px;
    width: 400px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-logo a {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-dark);
  }

.card {
    border: none;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
  background-color: var(--color-accent);
  border: none;
}

.mb-1 a,
.mb-0 a {
  color: var(--color-secondary);
}

.mb-1 a:hover,
.mb-0 a:hover {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card-body {
    padding: 20px;
}